<header class="hero">
  <app-navbar></app-navbar>
  <main>
    <h2 class="contact">Lista de estudiantes</h2>

    <table class="table elegant-table">
      <thead>
        <tr>
          <th>id</th>
          <th>Alumnos</th>
          <th>Nota 1</th>
          <th>Nota 2</th>
          <th>Nota 3</th>
          <th>Promedio</th>
          <th>Acción a Realizar</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of dataEstudiantes">
          <td>{{ item.id }}</td>
          <td>{{ item.nombre }}</td>
          <td>{{ item.nota_1 }}</td>
          <td>{{ item.nota_2 }}</td>
          <td>{{ item.nota_3 }}</td>
          <td>{{ item.promedio }}</td>

          <td>
            <a class="btn btn-warning" href="/formEstudiantes/{{ item.id }}">Agregar</a>
            &nbsp;

            <button
              type="button"
              class="btn btn-info"
              [routerLink]="'/formEstudiantes/' + item.id"
              (click)="actualizarEstudiante(
                item.id,
                item.nombre,
                item.nota_1,
                item.nota_2,
                item.nota_3,
                item.promedio )"> Editar
            </button>
            &nbsp;

            <button
              type="button"
              class="btn btn-danger"
              (click)="eliminarEstudiante(item.id)">
              Borrar
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </main>
</header>
