<div id="carouselExample" class="carousel slide">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="https://scontent.fuio5-1.fna.fbcdn.net/v/t39.30808-6/358689534_764924118974768_5534405852029119825_n.jpg?stp=dst-jpg_s960x960&_nc_cat=101&ccb=1-7&_nc_sid=783fdb&_nc_ohc=AxE_FCEp0TkAX-BWrFb&_nc_ht=scontent.fuio5-1.fna&oh=00_AfAb0hG_YKXpPGn_f2V7nt_X4jaODHBUHoz83KoLjYal3Q&oe=65C9A982" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="https://media.primicias.ec/2023/04/13171858/colegio-Mejia.jpg" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="https://img.freepik.com/foto-gratis/silla-mochila-colegio_23-2148204820.jpg?size=626&ext=jpg&ga=GA1.1.682147987.1678523789&semt=ais" class="d-block w-100" alt="...">
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>