<div id="carouselExample" class="carousel slide">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="https://lh3.googleusercontent.com/p/AF1QipMO7VC_KE7WXoOh_WiuTYfzouEKWDsOHnUH57NJ=s680-w680-h510" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="https://media.primicias.ec/2023/04/13171858/colegio-Mejia.jpg" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="https://img.freepik.com/foto-gratis/silla-mochila-colegio_23-2148204820.jpg?size=626&ext=jpg&ga=GA1.1.682147987.1678523789&semt=ais" class="d-block w-100" alt="...">
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>