<footer class="footer fixed-bottom">
    <section class="footer_copy container">
        <div>
            <a href="https://www.facebook.com/" target="_black">
                <img class="footer_img" src="https://firebasestorage.googleapis.com/v0/b/saloon-92a8e.appspot.com/o/facebook.svg?alt=media&token=5009edf8-9d4e-4dd6-a4b3-eef18ded79b0">
            </a>&nbsp;
            <a href="https://www.instagram.com/" target="_black">
                <img class="footer_img" src="https://firebasestorage.googleapis.com/v0/b/saloon-92a8e.appspot.com/o/instagram.svg?alt=media&token=0a966a95-a434-41a8-aa9f-e1ae9dbf89e4">
            </a>&nbsp;&nbsp;
            <a href="https://www.youtube.com/" target="_black">
                <img class="footer_img" src="https://firebasestorage.googleapis.com/v0/b/saloon-92a8e.appspot.com/o/youtube.svg?alt=media&token=5c51dd0f-8696-4f2e-9d4a-315047877b1c">
            </a>
        </div>
        <h4 class="footer_copyright">&copy; Todos los derechos reservados</h4>
    </section>      
</footer>