<app-navbar></app-navbar>

<main>
  <h2 class="contact"></h2>
  <table class="table">
    <thead>
      <tr>
        <!--<th>Nombre del Profesor</th>-->
        <th>id</th>
        <th>Lista del Cursos</th>
        <th>Lista de Estudiantes</th>
        <th>Promedio</th>
        <th>Acccion</th>
      </tr>
    </thead>
    <tbody>
      <!-- Abre el bucle *ngFor en la fila -->
      <ng-container *ngFor="let profesor of dataProfesores">
        <!-- Agrega un bucle para recorrer los cursos del profesor -->
        <ng-container *ngFor="let curso of profesor.cursos">
          <!-- Agrega un bucle para recorrer los estudiantes del curso -->
          <ng-container *ngFor="let estudiante of curso.estudiantes">
            <!-- Agrega un bucle para recorrer las calificaciones del estudiante -->
            <ng-container
              *ngFor="let calificacion of estudiante.calificaciones"
            >
              <!-- Coloca las celdas dentro del bucle del profesor -->
              <tr>
                <!--<td>{{ profesor.nombre }}</td>-->
                <td>{{ profesor.id }}</td>
                <td>{{ curso.nombre }}</td>
                <td>{{ estudiante.nombre }}</td>
                <td>{{ calificacion.promedio }}</td>
                <td>
                  <a class="btn btn-warning" href="/form-profesor/"
                    >MODIFICAR</a
                  >
                </td>
              </tr>
            </ng-container>
          </ng-container>
        </ng-container>
      </ng-container>
    </tbody>
  </table>
</main>
