.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
    margin-top: 20px;
    justify-content: center; /* Centra los elementos horizontalmente */
  }
  
  .grid-item {
    width: 100%;
  }
  
  .card {
    border: 1px solid #ddd;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-size: cover; /* Ajusta el tamaño de la imagen al contenedor */
    background-position: center; /* Centra la imagen en el contenedor */
  }
  
  /* Ajusta los estilos según sea necesario */
  