<header class="hero">
  <app-navbar></app-navbar>
  <nav>
    <form class="form-inline" action="/admin-profesor">
      <div class="form-group">
        <label for="id">ID:</label>
        <input type="number" class="form-control" id="id" #id />
      </div>
      <div class="form-group">
        <label for="">Actividad 1:</label>
        <input type="text" class="form-control" #act1 />
      </div>
      <div class="form-group">
        <label for="precio">Acitiviad 2:</label>
        <input type="text" class="form-control" #act2 />
      </div>
      <div class="form-group">
        <label for="precio">Acitiviad 3:</label>
        <input type="text" class="form-control" #act3 />
      </div>
      <div class="form-group">
        <label for="cantidad">promedio:</label>
        <input type="text" class="form-control" #prom />
      </div>
      <br /><br />
      <button
        type="button"
        class="btn btn-warning"
        (click)="
          guardarProfesor(id.value, act1.value, act2.value, act3.value, prom.value)
        "
      >
        AGREGAR
      </button>
      <br /><br />
      <button
        type="button"
        class="btn btn-secondary"
        (click)="
          actualizarProfesor(id.value, act1.value, act2.value, act3.value, prom.value)
        "
      >
        Editar
      </button>
      <br /><br />
      <button
        type="button"
        class="btn btn-info"
        (click)="eliminarProfesor(id.value)"
      >
        Borrar
      </button>
      <br /><br /><br /><br />
    </form>
  </nav>
</header>
